*
{
    margin:0;
    padding:0;

}

body 
{
    width:100vw;
    height:100vh;
    background:white;
    display:flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}














/* 

!!!!!!!!!!!!!!!!!!!!!!! STYLE PLANSZY GIER !!!!!!!!!!!!!!!!!!!!!!!!!!! */







header 
{
    width:100vw;
    height:50px;
    background:white;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.who-turn 
{
    position:absolute;
    left:0;
    width:70px;
    height:40px;
    background:#f714b9;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    display:flex;
    align-items: center;
    justify-content: center;
}

h1 
{
    font-size:9px;
    letter-spacing: 2px;
    position: relative;
    font-weight: 1000;
    font-family:'Open Sans';
    color:white;
    margin-right:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}

h1 img 
{
    width:30px;
    height:30px;
    border:none;
    outline: none;
    
    
}


.score-holder
 {
     height:100%;
     position: relative;
     display:flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin:0px 10px;

     
 }

 h2 
 {
     font-size:35px;
     line-height: 35px;
     color:black;
     letter-spacing: 2px;
    position: relative;
    font-weight: 1000;
    font-family:'Open Sans';
 }


 p1
 {
     font-size:13px;
     letter-spacing: 2px;
     position: relative;
     font-weight: 1000;
     font-family:'Open Sans';
     margin-top:5px;
 }









/* 

!!!!!!!!!!!!!!!!!!!!!!! STYLE PLANSZY GIER !!!!!!!!!!!!!!!!!!!!!!!!!!! */













 section{
     width:100vw;
     height:fit-content;
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     margin-top:20px;


 }

 .box
 {
     width:22vw;
     height:22vw;
    margin:2px;
    background:#fadf52;
    border-radius:10px;
    border:none;
 }

.box-circle 
{
    background-image:url("images/circle_box.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box-cross
{
    background-image:url("images/cross_box.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box-triangle
{
    background-image:url("images/triangle_box.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


 .hamburger-btn
 {
    width:50px;
    height:50px;
    position:absolute;
    right:10px;
    border:none;
    outline: none;
    background:none;
    display:flex;
    align-items: center;
    justify-content: center;
 }

 .hamburger-btn span 
 {
    background:#f714b9;
    width:30px;
    height:4px;
    position:absolute;
 }


 .first 
 {
    transition:0.4s;
    transform:translateY(-10px);
 }

 .second
 {
    transition:0.4s;
    opacity:1;
 }

 .third
 {
    transition:0.4s;
    transform:translateY(10px);
 }










 /* 

!!!!!!!!!!!!!!!!!!!!!!! STYLE PO PRZEGRANEJ GRZE  !!!!!!!!!!!!!!!!!!!!!!!!!!! */








 .endGame 
 {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background:rgba(255, 255, 255, 0.829);
    display:none;
    position:absolute;
    top:0;
    z-index:9999;
 }



 .content 
 {
     width:90vw;
     min-height:80vw;
     height:fit-content;
     background:white;
     border-radius:25px;
     border:3px solid #d118a0;
     position:relative;
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start; 

 }



 .endGame span 
 {
    font-size:60px;
    color:#000000;
    letter-spacing: 2px;
   position: relative;
   font-weight: 1000;
   font-family:'Open Sans';
   margin:0px 0px;
   text-align: center;
 }

 h4 
 {
    font-size:35px;
    color:#f714b9;
    letter-spacing: 2px;
   position: relative;
   font-family: 'Ubuntu', sans-serif;
   margin:10px 0px;
   text-align: center;
   background: #b432ae;
background: -webkit-linear-gradient(to right, #b432ae 0%, #F714B9 100%);
background: -moz-linear-gradient(to right, #b432ae 0%, #F714B9 100%);
background: linear-gradient(to right, #b432ae 0%, #F714B9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


 }


 h5 
 {
    font-size:35px;
    line-height: 35px;
    color:#b432ae;
    letter-spacing: 2px;
   position: relative;
   font-weight: 1000;
   font-family: 'Ubuntu', sans-serif;
   text-align: center;
   background: #3C94FA;
background: -webkit-linear-gradient(to right, #3C94FA 0%, #0de4d2 100%);
background: -moz-linear-gradient(to right, #3C94FA 0%, #0de4d2 100%);
background: linear-gradient(to right, #3C94FA 0%, #0de4d2 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

 }


 h6
 {
    font-size:20px;
    color:#b432ae;
    letter-spacing: 2px;
   position: relative;
   font-weight: 1000;
   font-family: 'Ubuntu', sans-serif;
   text-align: center;
   background: #3C94FA;
background: -webkit-linear-gradient(to right, #3C94FA 0%, #0de4d2 100%);
background: -moz-linear-gradient(to right, #3C94FA 0%, #0de4d2 100%);
background: linear-gradient(to right, #3C94FA 0%, #0de4d2 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top:10px;

 }

h7
 {
    font-size:23px;
    color:#000000;
    letter-spacing: 2px;
   position: relative;
   font-weight: 1000;
   font-family:'Open Sans';
   margin:0px 0px;
   text-align: center;
 }


 .holder
 {
     width:90vw;
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     height: fit-content;
     margin-top:0px;
   position:absolute;
   bottom:0;
   transform:translateY(30px);
 }


 .holder button 
 {
    height:60px;
   border-radius:10px;
   border:none;
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-size:25px;
    color:white;
    letter-spacing: 3px; 

   font-weight: 500;
   font-family: 'Ubuntu', sans-serif;
   margin:0px 10px;
   background: rgb(180,50,174);
    background: linear-gradient(90deg, rgba(180,50,174,1) 0%, rgba(247,20,185,1) 100%);
 }

 
 .holder button img 
 {
     width:40px;
     height:40px;

 }


 .backToMenuBtn 
 {
     width:calc(90vw - 100px);
 }

 .playAgainBtn 
 {
     width:60px;
     
 }
 








/* 

!!!!!!!!!!!!!!!!!!!!!!! STYLE MENU ROZWIJANEGO W GRZE !!!!!!!!!!!!!!!!!!!!!!!!!!! */





 
 .menu
 {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgba(255, 255, 255, 0.829);
    display:flex;
    position:absolute;
    top:0;
    z-index:9999;

    display:none;
 }

 .menu .content 
 {
    justify-content: center !important; 
 }

 .menuBtn 
 {
    height:60px;
    width:80vw;
    margin:10px 0px;
    border-radius:25px;
    border:none;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size:27px;
     color:white;
     letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    background: rgb(60,148,250);
background: linear-gradient(90deg, rgba(60,148,250,1) 0%, rgba(13,228,210,1) 100%);
 }


 .closeMenu 
 {
    height:fit-content;
    width:fit-content;
    padding:7px 15px !important;
    margin:10px 0px;
    border-radius:25px;
    border:none;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size:20px;
     color:white;
     letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
    background: rgb(180,50,174);
    background: linear-gradient(90deg, rgba(180,50,174,1) 0%, rgba(247,20,185,1) 100%);
    position:absolute;
    bottom:0;
    transform:translateY(30px);
    outline: none;
 }






 #mainScreen 
 {
     width:100vw;
     position:absolute;
     top:0;
     height:100vh;
     z-index:888;
     background:white;
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 #info-button 
 {
     width:30px;
     height:30px;
     position:absolute;
     right:10px;
     top:10px;
     border:none;
     border-radius:5px;
     background:#f714b9;
     display:flex;
     align-items: center;
     justify-content: center;
 }

 #info-button img 
 {
     width:25px;
     height: 25px;
 }

 .wrapper 
 {
     width:100vw;
     height:fit-content;
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin:5px 0px;
 }

 .wrapper img 
 {
     width:20px;
     height:20px;
     margin:0px 10px;
 }


 #logo 
 {
     width:80vw;
     margin:15px 0px;
 }




 .mainScreenBtn
 {
    height:60px;
    width:80vw;
    margin:10px 0px;
    border-radius:25px;
    border:none;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size:27px;
     color:white;
     letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
   
 }

 .mainScreenBtn:nth-of-type(2)
 {
    background: rgb(180,50,174);
    background: linear-gradient(90deg, rgb(161, 46, 156) 0%, rgba(247,20,185,1) 100%);
 }

 .mainScreenBtn:nth-of-type(3)
 {
    background: rgb(60,148,250);
    background: linear-gradient(90deg, rgba(60,148,250,1) 0%, rgba(13,228,210,1) 100%);
 }

 .mainScreenBtn:nth-of-type(4)
 {
    background: rgb(60,148,250);
 }













